# ========================
# ENV (WAJIB)
# ========================
.env
.env.*
!.env.example

# ========================
# GO BUILD
# ========================
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# binary output
/bin/
/build/
/dist/

# ========================
# GO CACHE
# ========================
*.coverprofile

# ========================
# LOGS
# ========================
*.log
logs/

# ========================
# IDE / EDITOR
# ========================
.vscode/
.idea/

# ========================
# OS FILES
# ========================
.DS_Store
Thumbs.db

# ========================
# TEMP FILES
# ========================
*.tmp
*.swp
